# Ignore macOS system files
.DS_Store

# Ignore temporary files
*.swp
*~

# Ignore build artifacts
build/
dist/

# Ignore logs
*.log

# Ignore user-specific files
.idea/
.vscode/



./node_modules
./node_modulesdaya-main/
